<div class="contain-to-grid">
<footer class="row">
    <div class="large-3 medium-6 small-12 columns">
    <ul>
      <li><h6>CUSTOMER CARE</h6></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Customer Services</a></li>
        <li><h6>0844 3571022</h6></li>
     </ul>
<ul>
      <li><h6>OPENING TIMES</h6></li>
        <li><p>Mon-Fri: 8am - 10pm<br>Sat-Sun: 9am - 6pm<br>Bank Holidays: 9am - 5pm</p></li>
     </ul>
   </div>
    <div class="large-3 medium-6 small-12 columns">
      <ul>
      <li><h6>WHY SHOP AT SURFDOME?</h6></li>
        <li><a href="#">Secure Shopping</a></li>
        <li><a href="#">FREE Delivery Options</a></li>
        <li><a href="#">Gift Vouchers</a></li>
        <li><a href="#">NUS Extra Student</a></li>
    </ul></div>
    <div class="large-3 medium-6 small-12 columns">
    <ul>
      <li><h6>ABOUT SURFDOME?</h6></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Shopzilla Reviews</a></li>
        <li><a href="#">Trustpilot Reviews</a></li>
    </ul></div>
    <div class="large-3 medium-12 columns">
<h6 class="highlight">JOIN IN NOW</h6>
<p class="tiny">To hear about secret sales, great offers, once in a lifetime competitions and more!</p>

<div class="small-8 medium-9 left"><input type="text" placeholder="YOUR EMAIL ADDRESS"></div>
      <div class="small-4 medium-3 right"><a href="#" class="button expand secondary">ENTER</a></div>
    </div>  
      
    </div>
  </footer>
</div>