<div class="row main-nav show-for-large-up">
        <!-- <div class="small-5 column"> -->
          <div class="sub-nav menu-1">
  <ul>
      <li><a href="/product" data-dropdown="menu-mens" data-options="is_hover:ue">MENS</a>
<div id="menu-mens" data-dropdown-content="" class="meganav content row">
  <div class="large-12 column">
    <div class="row">
      <div class="small-2 column">
        <h6 class="highlight">New In</h6>
        <ul><li><a href="/New_In_Mens_Accessories-956/">Mens Accessories</a></li>
<li><a href="/New_In_Mens_Clothing_and_Swimwear-959/">Mens Clothing &amp; Swimwear</a></li>
<li><a href="/New_In_Mens_Footwear-960/">Mens Footwear</a></li>
<li><a href="/New_In_Mens_Equipment-967/">Mens Equipment</a></li></ul>

<h6 class="highlight">SALE</h6>
<ul>
<li>    <a href="http://www.surfdome.com/mens-outlet">Mens Outlet</a>   </li>
</ul>
<h6 class="highlight">SEASONAL</h6>
<ul>
<li><a href="/Holiday_and_Travel-637/">Holiday &amp; Travel</a></li>
<li><a href="/Snow_Gear-712/">Ski &amp; Snowboard</a></li>
<li><a href="/Mens_Gifts-454/">Gifts</a></li></ul>
<h6 class="highlight">FEATURED</h6>
<ul><li><a href="/Mens_Premium_Collection">Mens Premium Collection</a></li>
</ul>

      </div>
       <div class="small-2 column">
        <h6 class="highlight">FOOTWEAR</h6>
         <ul><li><a href="/Mens_Boots-677/">Boots</a></li>
<li><a href="/Mens_Flip_Flops_and_Sandals-179/">Flip Flops</a></li>
<li><a href="/Mens_Sandals-512/">Sandals</a></li>
<li><a href="/Mens_Shoes-331/">Shoes</a></li>
<li><a href="/Mens_Slippers-508/">Slippers</a></li>
<li><a href="/Mens_Wellington_Boots-786/">Wellies</a></li>

</ul>

       </div>
        <div class="small-6 column">
          <h6 class="highlight">CLOTHING &amp; ACCESSORIES</h6>
<div class="column small-4">
          <ul><li><a href="/Mens_Backpacks-166/">Backpacks</a></li>
<li><a href="/Mens_Bags-600/">Bags</a></li>
<li><a href="/Mens_Beanies-329/">Beanies</a></li>
<li><a href="/Mens_Belts-231/">Belts</a></li>
<li><a href="/Mens_Board_Shorts-176/">Board Shorts</a></li>
<li><a href="/Mens_Cargoes-c1080/">Cargo Pants</a></li>
<li><a href="/Mens_Chinos-c1427/">Chinos</a></li>
<li><a href="/Mens_Fitness-610/">Fitness</a></li>
<li><a href="/Mens_Fleeces-607/">Fleeces</a></li>
<li><a href="/Mens_Gloves-330/">Gloves</a></li>
<li><a href="/Mens_Hats_Caps-337/">Hats</a></li>
<li><a href="/Mens_Headphones-429/">Headphones</a></li>
<li><a href="/Mens_Hoodies-151/">Hoodies</a></li>
<li><a href="/Mens_Jackets-241/">Jackets</a></li>
</ul>
</div>
<div class="column small-4">


<ul><li><a href="/Mens_Jeans-c1079/">Jeans</a></li>
<li><a href="/Mens_Jewellery-678/">Jewellery</a></li>
<li><a href="/Mens_Jumpers-152/">Jumpers</a></li>
<li><a href="/Mens_Knitwear-704/">Knitwear</a></li>
<li><a href="/Mens_Loungewear-673/">Loungewear</a></li>
<li><a href="/Mens_Luggage-310/">Luggage</a></li>
<li><a href="/Mens_Nightwear-684/">Nightwear</a></li>
<li><a href="/Mens_Polo_Shirts-142/">Polo Shirts</a></li>
<li><a href="/Mens_Rash_Vests-368/">Rash Vests</a></li>
<li><a href="/Mens_Scarves-407/">Scarves</a></li>
<li><a href="/Mens_Shirts-175/">Shirts</a></li>
<li><a href="/Mens_Shorts-364/">Shorts</a></li>
<li><a href="/Mens_Socks-680/">Socks</a></li>
<li><a href="/Mens_Sunglasses-165/">Sunglasses</a></li>
</ul></div>
<div class="column small-4">

<ul><li><a href="/Mens_Sweatshirts-901/">Sweatshirts</a></li>
<li><a href="/Mens_Swimwear-c1124/">Swimwear</a></li>
<li><a href="/Mens_T-Shirts-136/">T-Shirts</a></li>
<li><a href="/Mens_Long_Sleeve_T-Shirts-692/">T-Shirts (long sleeve)</a></li>
<li><a href="/Mens_Thermals-613/">Thermals</a></li>
<li><a href="/Mens_Tracksuit_Bottoms-c1082/">Tracksuit Bottoms</a></li>
<li><a href="/Mens_Trousers-c1081/">Trousers</a></li>
<li><a href="/Mens_Underwear-434/">Underwear</a></li>
<li><a href="/Mens_Wallets-328/">Wallets</a></li>
<li><a href="/Mens_Wash_Bags-c1064/">Wash Bags</a></li>
<li><a href="/Mens_Watches-164/">Watches</a></li>
<li><a href="/Mens_Wetsuits-598/">Wetsuits</a></li>
<li></li>
</ul>
</div>


        </div>
         <div class="small-2 column">
          <h6 class="highlight">EQUIPMENT</h6>
           <ul><li><a href="/Bodyboards-486/">Bodyboards</a></li>
<li><a href="/Camping-587/">Camping</a></li>
<li><a href="/Gadgets-855/">Gadgets</a></li>
<li><a href="/Hiking_and_Trekking-870/">Hiking</a></li>
<li><a href="/Kayaking-635/">Kayaking</a></li>
<li><a href="/Running-c1837/">Running</a></li>
<li><a href="/Sailing_Clothing_and_Sailing_Shop-c1109/">Sailing</a></li>
<li><a href="/Skate_Clothing-490/">Skate Shop</a></li>
<li><a href="/Ski_Clothing-474/">Ski Shop</a></li>
<li><a href="/Snorkelling-841/">Snorkelling</a></li>
<li><a href="/Snowboards-462/">Snowboards</a></li>
<li><a href="/Surf_Clothing-479/">Surf Shop</a></li>
<li><a href="/Surfboards-480/">Surfboards</a></li>
<li><a href="/Swimming-c1446/">Swimming</a></li>
<li><a href="/Wakeboards-546/">Wakeboards</a></li>
</ul>

</div>
</div>
</div>
</div>



               
      </li>
      <li><a href="productdetails">WOMENS</a></li>
      <li><a href="#">BOYS</a></li>
      <li><a href="#">GIRLS</a></li>
      <li><a href="#">INFANTS</a></li>
  </ul>
</div>
            <!-- </div> -->
      <!-- <div class="small-5 column"> -->
        <div class="sub-nav menu-2">
  <ul>
      <li><a href="#">SNOW</a></li>
      <li><a href="#">SURF</a></li>
      <li><a href="#">SKATE</a></li>
      <li><a href="#">OUTDOORS</a></li>
      
  </ul>
</div>
          <!-- </div> -->
             <!-- <div class="small-2 column"> -->
              <div class="sub-nav menu-3">
          <ul>
      <li><a href="#">BY BRAND</a></li>
      <li><a href="#">SALE</a></li>
  </ul>
            </div>
<!-- </div> -->

        
  </div>

 