<div class="row main-nav show-for-large-up">
        <!-- <div class="small-5 column"> -->
          <div class="sub-nav menu-1">
  <ul>
      <li><a href="/product" data-dropdown="menu-mens" data-options="is_hover:true">MENS</a>
<div id="menu-mens" data-dropdown-content="" class="meganav content row">
  <div class="large-12 column">
                  <div class="large-6 columns">
                    <!-- Heading 1 -->  
                    <div class="row">
                      <div class="large-12 columns">
                        <ul>
                          <li><label>Heading 1</label></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                          <li><a href="#">Link 4</a></li>
                        </ul>   
                      </div>
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 5</a></li>
                          <li><a href="#">Link 6</a></li>
                          <li><a href="#">Link 7</a></li>
                          <li><a href="#">Link 8</a></li>
                        </ul>
                      </div>
                    </div>  
                  </div>
                  <div class="large-6 columns">
                    <!-- Heading 2 -->
                    <div class="row">
                      <div class="large-12 columns">
                        <ul>
                          <li><label>Heading 2</label></li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 1</a></li>
                          <li><a href="#">Link 2</a></li>
                          <li><a href="#">Link 3</a></li>
                          <li><a href="#">Link 4</a></li>
                        </ul>
                      </div>
                      <div class="large-6 columns">
                        <ul>
                          <li><a href="#">Link 5</a></li>
                          <li><a href="#">Link 6</a></li>
                          <li><a href="#">Link 7</a></li>
                          <li><a href="#">Link 8</a></li>
                        </ul> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      </li>
      <li><a href="productdetails">WOMENS</a></li>
      <li><a href="#">BOYS</a></li>
      <li><a href="#">GIRLS</a></li>
      <li><a href="#">INFANTS</a></li>
  </ul>
</div>
            <!-- </div> -->
      <!-- <div class="small-5 column"> -->
        <div class="sub-nav menu-2">
  <ul>
      <li><a href="#">SNOW</a></li>
      <li><a href="#">SURF</a></li>
      <li><a href="#">SKATE</a></li>
      <li><a href="#">OUTDOORS</a></li>
      
  </ul>
</div>
          <!-- </div> -->
             <!-- <div class="small-2 column"> -->
              <div class="sub-nav menu-3">
          <ul>
      <li><a href="#">BY BRAND</a></li>
      <li><a href="#">SALE</a></li>
  </ul>
            </div>
<!-- </div> -->

        
  </div>

 