  <div class="row main-nav">
        <!-- <div class="small-5 column"> -->
          <div class="sub-nav menu-1">
  <ul>
      <li><a href="#">MENS</a></li>
      <li><a href="#">WOMENS</a></li>
      <li><a href="#">BOYS</a></li>
      <li><a href="#">GIRLS</a></li>
      <li><a href="#">INFANTS</a></li>
  </ul>
</div>
            <!-- </div> -->
      <!-- <div class="small-5 column"> -->
        <div class="sub-nav menu-2">
  <ul>
      <li><a href="#">SNOW</a></li>
      <li><a href="#">SURF</a></li>
      <li><a href="#">SKATE</a></li>
      <li><a href="#">OUTDOORS</a></li>
      
  </ul>
</div>
          <!-- </div> -->
             <!-- <div class="small-2 column"> -->
              <div class="sub-nav menu-3">
          <ul>
      <li><a href="#">BY BRAND</a></li>
      <li><a href="#">SALE</a></li>
  </ul>
            </div>
<!-- </div> -->

        
  </div>
        <div class="row">

          <div class="column medium-12">
        
        <ul class="example-orbit" data-orbit>
    <li>
      <%= image_tag("slider1.jpg", :alt => "slider 1") %>
        <div class="orbit-caption">
        Caption One.
      </div>
    </li>
    <li>
      <%= image_tag("slider2.jpg", :alt => "slider 2") %>
      <div class="orbit-caption">
        Caption Two.
      </div>
    </li>
    <li>
      <%= image_tag("slider3.jpg", :alt => "slider 3") %>
      <div class="orbit-caption">
        Caption Three.
      </div>
    </li>
  </ul>
</div>
            </div>

  <script>
  $(document).foundation({
    orbit: {
      animation: 'slide',
      timer_speed: 3000,
      pause_on_hover: true,
      animation_speed: 700,
      navigation_arrows: true,
      bullets: true,
      slide_number: false,
      timer: false
    }
  });

  </script>