<div class="contain-to-grid"><nav class="top-bar">
    <div class="row">
        <p class="medium-7 column">
  OVER 900 BRANDS WITH FREE DELIVERY AND FREE UK RETURNS
             </p>
        </div>
  </nav>
    </div>
  <div class="main">
    <div class="row head">
      <div class="small-12 medium-7 column"><%= image_tag("surfdomeLogo.svg", :alt => "surfdome.com") %></div>
      <div class="small-12 medium-5 column">
        <div class="row">
            <p class="text-right small-12 column">Basket: £0.00 (0)</p>
          </div>
        <div class="row search-bar">
            <div class="small-12 column">
      <div class="small-8 medium-9 left"><input type="text" placeholder="WHAT ARE YOU LOOKING FOR?"></div>
      <div class="small-4 medium-3 right"><a href="#" class="button expand secondary">SEARCH</a></div>
                </div>
    </div>
    </div>
    </div>
      <div class="row main-nav">
      <div class="sub-nav small-5 column">
<ul>
    <li><a href="#">MENS</a></li>
    <li><a href="#">WOMENS</a></li>
    <li><a href="#">BOYS</a></li>
    <li><a href="#">GIRLS</a></li>
    <li><a href="#">INFANTS</a></li>
</ul>
          </div>
    <div class="sub-nav small-4 column">
<ul>
    <li><a href="#">SNOW</a></li>
    <li><a href="#">SURF</a></li>
    <li><a href="#">SKATE</a></li>
    <li><a href="#">OUTDOORS</a></li>
    
</ul>
        </div>
           <div class="sub-nav small-3 column end">
        <ul>
    <li><a href="#">BY BRAND</a></li>
    <li><a href="#">SALE</a></li>
</ul>
          </div>


      
</div>
      <div class="row">
      
      <ul class="example-orbit" data-orbit>
  <li>
    <%= image_tag("slider1.jpg", :alt => "slider 1") %>
      <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li>
    <%= image_tag("slider2.jpg", :alt => "slider 2") %>
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <%= image_tag("slider3.jpg", :alt => "slider 3") %>
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
</ul>
          </div>
          </div>
