<div class="contain-to-grid">
  <nav class="top-bar show-for-medium-up">
    <div class="row">
      <p class="medium-7 column">
      OVER 900 BRANDS WITH <span class="highlight">FREE DELIVERY</span> AND <span class="highlight">FREE UK RETURNS</span>
      </p>
    </div>
  </nav>
</div>

<section class="main">
  <div class="row head">
    <div class="logo small-5 medium-7 column">
      <%= image_tag("surfdomeLogo.svg", :alt => "surfdome.com") %>
    </div>
    <article class="navIcons small-5 medium-5 column left">
      <div class="row small-2 column right">
        <p class="text-right">
          <span class="fi-shopping-bag size-18"></span>
        </p>
      </div>
      <aside class="row search-bar">
        <div class="small-9 column">
          <div class="small-12 left">
            <input type="text" placeholder="WHAT ARE YOU LOOKING FOR?">
            <span class="fi-magnifying-glass size-21"></span>
          </div>
          <div class="small-4 medium-3 right">
            <a href="#" class="button expand secondary">SEARCH</a>
          </div>
        </div>
      </aside>
    </article>
  </div>
</section>

<div data-interchange="[/mobile.html, (small)], [/home.html, (medium)], [/home.html, (large)]">
</div>


