<div class="contain-to-grid">
  <nav class="top-bar show-for-medium-up">
    <div class="row">
      <p class="medium-7 column">
      OVER 900 BRANDS WITH <span class="highlight">FREE DELIVERY</span> AND <span class="highlight">FREE UK RETURNS</span>
      </p>
    </div>

  </nav>
</div>

  <div class="main">
    <div class="row head">

      <div class="small-12 medium-7 column"><a href="/"><%= image_tag("surfdomeLogo.svg", :alt => "surfdome.com") %></a></a></div>

      <div class="small-12 medium-5 column">
        <div class="row">
            <p class="text-right small-12 column">Basket: £0.00 (0)</p>
          </div>
        <div class="row search-bar">
            <div class="small-12 column">
      <div class="small-8 medium-9 left"><input type="text" placeholder="WHAT ARE YOU LOOKING FOR?"><span class="fi-magnifying-glass size-21"></span></div>
      <div class="small-4 medium-3 right"><a href="#" class="button expand secondary">SEARCH</a></div>
                </div></div></div></div>
 
<!-- <section class="main">
  <div class="row head">
    <div class="logo small-5 medium-7 column">
      <a href="/">
    </div>
    <article class="nav-icons small-5 medium-5 column left">
      <div class="row small-2 column right">
        <p class="text-right">
          <span class="fi-shopping-bag size-18"></span>
        </p>
      </div>
      <aside class="row search-bar">
        <div class="small-9 column">
          <div class="small-12 left">
            <input type="text" placeholder="WHAT ARE YOU LOOKING FOR?">
            <span class="fi-magnifying-glass size-21"></span>
          </div>
          <div class="small-4 medium-3 right">
            <a href="#" class="button expand secondary">SEARCH</a>
          </div>
        </div>
      </aside>
    </article>
  </div>
</section> -->
<%= render "shared/nav" %>
<div data-interchange="[/mobile.html, (small)], [/home.html, (medium)]">
</div>

<div class="contain-to-grid">
<footer class="row">
    <div class="large-3 medium-6 small-12 columns">
    <ul>
      <li><h6>CUSTOMER CARE</h6></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Customer Services</a></li>
        <li><h6>0844 3571022</h6></li>
     </ul>
<ul>
      <li><h6>OPENING TIMES</h6></li>
        <li><p>Mon-Fri: 8am - 10pm<br>Sat-Sun: 9am - 6pm<br>Bank Holidays: 9am - 5pm</p></li>
     </ul>
   </div>
    <div class="large-3 medium-6 small-12 columns">
      <ul>
      <li><h6>WHY SHOP AT SURFOME?</h6></li>
        <li><a href="#">Secure Shopping</a></li>
        <li><a href="#">FREE Delivery Options</a></li>
        <li><a href="#">Gift Vouchers</a></li>
        <li><a href="#">NUS Extra Student</a></li>
    </ul></div>
    <div class="large-3 medium-6 small-12 columns">
    <ul>
      <li><h6>ABOUT SURFOME?</h6></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Community</a></li>
        <li><a href="#">Shopzilla Reviews</a></li>
        <li><a href="#">Trustpilot Reviews</a></li>
    </ul></div>
    <div class="large-3 medium-12 columns">
<h6 class="highlight">JOIN IN NOW</h6>
<p class="tiny">To hear about secret sales, great offers, once in a lifetime competitions and more!</p>

<div class="small-8 medium-9 left"><input type="text" placeholder="YOUR EMAIL ADDRESS"></div>
      <div class="small-4 medium-3 right"><a href="#" class="button expand secondary">ENTER</a></div>
    </div>  
      
    </div>
  </footer>
</div>
