<nav class="tab-bar">
    <section class="right-small">
    <a class="menu-icon" id="button-dropdown"><span></span></a>
  </section>
</nav>
<div id="menu-dropdown-nav">
<dl id="menu-primary">
  <dd><a class="button-secondary-nav">MENS</a><span class="fi-play"></span></dd>
  <dd><a class="button-secondary-nav">WOMENS</a><span class="fi-play"></span></dd>
  <dd><a class="button-secondary-nav">BOYS</a><span class="fi-play"></span></dd>
  <dd><a class="button-secondary-nav">GIRLS</a><span class="fi-play"></span></dd>
  <dd><a class="button-secondary-nav">INFANTS</a><span class="fi-play"></span></dd>
  <dd><a class="button-secondary-nav">SNOW</a><span class="fi-play"></span></dd>
  <dd><a class="button-secondary-nav">SURF</a><span class="fi-play"></span></dd>
  <dd><a class="button-secondary-nav">SKATE</a><span class="fi-play"></span></dd>
  <dd><a class="button-secondary-nav">OUTDOORS</a><span class="fi-play"></span></dd>
  <dd><a class="button-secondary-nav">BY BRAND</a><span class="fi-play"></span></dd>
  <dd><a class="button-secondary-nav">SALE</a><span class="fi-play"></span></dd>
</dl>

<dl id="menu-secondary">
  <dd><a>NEW IN</a></dd>
  <dd><a>SALE</a></dd>
  <dd><a>SEASONAL</a></dd>
  <dd><a>FEATURED</a></dd>
  <dd><a>FOOTWEAR</a></dd>
  <dd><a>CLOTHING &amp; ACCESSORIES</a></dd>
  <dd><a>EQUIPMENT</a></dd>
  <dd><a class="button-primary-nav"><span class="fi-arrow-left size-21"></span><span class='button-back'>BACK</span></a></dd>
</dl>
</div>

<section class='main-section'>
  <div class="row">
      <ul class="example-orbit" data-orbit>
        <li>
          <%= image_tag("slider1.jpg", :alt => "slider 1") %>
          <div class="orbit-caption">

          </div>
        </li>
        <li>
          <%= image_tag("slider2.jpg", :alt => "slider 2") %>
          <div class="orbit-caption">

          </div>
        </li>
        <li>
          <%= image_tag("slider3.jpg", :alt => "slider 3") %>
          <div class="orbit-caption">

          </div>
        </li>
      </ul>
  </div>




<script>

$(document).foundation({
  orbit: {
    animation: 'slide',
    timer_speed: 3000,
    pause_on_hover: true,
    animation_speed: 700,
    navigation_arrows: true,
    bullets: true,
    slide_number: false,
    timer: false
  }
});

var mn = $("#menu-dropdown-nav");

$("#button-dropdown").click(function(){

var newHeight = mn.find('#menu-primary').height()+10;

  if (mn.hasClass("active")){
    mn.animate({opacity:0},100,function(){
    mn.animate({height:0},100,function(){
    $('#menu-primary').css({"marginLeft":"10"});
    $('#menu-secondary').css({"marginLeft":"100%"});
    mn.css("opacity","0");
    });
    });
  }
  else {
    mn.animate({height:newHeight},200,function(){
    mn.animate({opacity:1},400);
    });
  }
  mn.toggleClass("active");
});

$(".button-secondary-nav").click(function(){

  $('#menu-primary').animate({marginLeft:'-100%'}, 100);
   
  var newHeight = $('#menu-secondary').height();

  $('#menu-secondary').animate({marginLeft:10},300);
  mn.animate({height:newHeight},300);

});


$(".button-primary-nav").click(function(){

  $('#menu-secondary').animate({marginLeft:'100%'}, 100);
   
  var newHeight = $('#menu-primary').height();

  $('#menu-primary').animate({marginLeft:'10'},300);
  mn.animate({height:newHeight},300);

});


</script>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit ligula magna, sed pellentesque turpis sagittis eu. Nullam euismod, augue eu ultrices tincidunt, neque sem tempor arcu, sagittis blandit leo magna sed leo. Cras rutrum luctus sem, quis dictum ligula posuere vel. Etiam tortor velit, venenatis at consequat nec, viverra id elit. In ipsum lacus, scelerisque ac rutrum in, congue ut quam. Sed ullamcorper tincidunt massa, a feugiat ante. Nulla mauris lectus, mollis ac aliquam quis, iaculis sit amet massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut accumsan, ante eu venenatis cursus, leo tortor egestas lacus, a consectetur risus justo quis justo.</p>
  </section>