<div class="row">
  <div class="small-12 columns">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="toggle-topbar menu-icon">
          <a href="#"><span></span></a>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown">
            <ul class="dropdown">
              <li class="has-dropdown">
                <a class="" href="#">MENS</a>
                <ul class="dropdown">
                  <li><a href="#">NEW IN</a></li>
                  <li><a href="#">SALE</a></li>
                  <li><a href="#">SEASONAL</a></li>
                  <li><a href="#">FEATURED</a></li>
                  <li><a href="#">CLOTHING &amp; ACCESSORIES</a></li>
                  <li><a href="#">FOOTWEAR</a></li>
                  <li><a href="#">EQUIPMENT</a></li>
                </ul>
              </li>
              <li class="has-dropdown">
                <a class="" href="#">WOMENS</a>
                <ul class="dropdown">
                  <li><a href="#">NEW IN</a></li>
                  <li><a href="#">SALE</a></li>
                  <li><a href="#">SEASONAL</a></li>
                  <li><a href="#">FEATURED</a></li>
                  <li><a href="#">CLOTHING &amp; ACCESSORIES</a></li>
                  <li><a href="#">FOOTWEAR</a></li>
                  <li><a href="#">EQUIPMENT</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </section>

    </nav>
  </div>
</div>

<script src="/assets/foundation/foundation.js"></script>
<script src="/assets/foundation/foundation.dropdown.js"></script>
<script src="/assets/foundation/foundation.topbar.js"></script>

<script>

$(document).foundation('dropdown');
$(document).foundation('topbar');

</script>