<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="right tab-bar-section">
        <!-- I stretch all the way to the right -->
      </section>
    </nav>

      <aside class='left-off-canvas-menu'>
        <ul class='off-canvas-list'>
          <li><a href='#'>Men</a></li>
          <li><a href='#'>Women</a></li>
          <li><a href='#'>Boys</a></li>
          <li><a href='#'>Girls</a></li>
          <li><a href='#'>Infants</a></li>
          <li><a href='#'>Snow</a></li>
          <li><a href='#'>Surf</a></li>
          <li><a href='#'>Skate</a></li>
          <li><a href='#'>Outdoors</a></li>
          <li><a href='#'>By Brand</a></li>
          <li><a href='#'>Sale</a></li>
        </ul>
      </aside>

      <section class='main-section'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit ligula magna, sed pellentesque turpis sagittis eu. Nullam euismod, augue eu ultrices tincidunt, neque sem tempor arcu, sagittis blandit leo magna sed leo. Cras rutrum luctus sem, quis dictum ligula posuere vel. Etiam tortor velit, venenatis at consequat nec, viverra id elit. In ipsum lacus, scelerisque ac rutrum in, congue ut quam. Sed ullamcorper tincidunt massa, a feugiat ante. Nulla mauris lectus, mollis ac aliquam quis, iaculis sit amet massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut accumsan, ante eu venenatis cursus, leo tortor egestas lacus, a consectetur risus justo quis justo.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit ligula magna, sed pellentesque turpis sagittis eu. Nullam euismod, augue eu ultrices tincidunt, neque sem tempor arcu, sagittis blandit leo magna sed leo. Cras rutrum luctus sem, quis dictum ligula posuere vel. Etiam tortor velit, venenatis at consequat nec, viverra id elit. In ipsum lacus, scelerisque ac rutrum in, congue ut quam. Sed ullamcorper tincidunt massa, a feugiat ante. Nulla mauris lectus, mollis ac aliquam quis, iaculis sit amet massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut accumsan, ante eu venenatis cursus, leo tortor egestas lacus, a consectetur risus justo quis justo.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris hendrerit ligula magna, sed pellentesque turpis sagittis eu. Nullam euismod, augue eu ultrices tincidunt, neque sem tempor arcu, sagittis blandit leo magna sed leo. Cras rutrum luctus sem, quis dictum ligula posuere vel. Etiam tortor velit, venenatis at consequat nec, viverra id elit. In ipsum lacus, scelerisque ac rutrum in, congue ut quam. Sed ullamcorper tincidunt massa, a feugiat ante. Nulla mauris lectus, mollis ac aliquam quis, iaculis sit amet massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut accumsan, ante eu venenatis cursus, leo tortor egestas lacus, a consectetur risus justo quis justo.</p>
      </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>