/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@import "foundation_and_overrides";

$highlight-color: #ef802e;

body,html {
  height:100%;
  width:100%;
}

.off-canvas-wrap,.inner-wrap {
  height:100%;   
}

.top-bar {
  color: $label-font-color-alt;
  padding-top:8px;
 }

.head input {
  margin:0;
  padding:0 10px;
}

.head p {
 margin-bottom:2px;  
}

.main-nav {
 padding:0 1rem;   
}

.sub-nav {
  border-top: 1px $primary-color solid; 
  margin: 0 !important;
  padding: 0 !important;   
}

.sub-nav > ul {
  margin-left:0;    
}

.sub-nav > ul > li {
  margin-bottom:0;
}

.sub-nav li a {
    // padding: 0.5rem 1.097rem !important;
    padding: 0.5rem $row-width/30 !important;
    display:block;
transition: 0.2s ease-in-out all;
}

.sub-nav li a:hover {  
  background: $secondary-color;
  color: $primary-color !important;   
}

.sub-nav li:before {
  position: absolute;
  margin-left:-2px !important;
  padding: 0.5rem 0 !important;
}

.main-nav .sub-nav {
  border-right:1px solid black; 
}

.main-nav .end {
  border-right:none; 
}

.sub-nav dd {
  display:inline-block;
}


input {
 padding: 0 0.6rem;
height: 2rem !important;
width: 98% !important; 
}

.highlight {
color: $highlight-color;
}
