/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

@import "foundation_and_overrides";

$highlight-color: #ef802e;

body,html {
  height:100%;
  width:100%;
}

.off-canvas-wrap,.inner-wrap {
  height:100%;   
}

.top-bar {
  color: $label-font-color-alt;
  padding-top:6px;
 }

.search-bar{



input {
  margin:0;
  padding:0 10px;
  color:$primary-color !important;
}
.left{
position:relative;
 }
.fi-magnifying-glass{
position: absolute;
right:13px;
top:6px;

}

  
}



.head p {
 margin-bottom:2px;  
}

.main-nav {
 padding:0 $column-gutter/2;   
}

.sub-nav {
  border-top: 1px $primary-color solid; 
  margin: 0 !important;
  padding: 0 !important;  

}

.main-nav .sub-nav > ul {
  margin:0; 
  text-align: justify; 
  height:2rem;  
}

.sub-nav > ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.sub-nav > ul > li {
  margin-bottom:0;
  display:inline-block;
  
}

.sub-nav li a {
    // padding: 0.5rem 1.097rem !important;
    // padding: 0.5rem $row-width/56.4 !important;
    text-align: center;
    // padding: 0.5rem 0 !important;
    display:block;
transition: 0.2s ease-in-out all;
width:100%;
}

.sub-nav li a:hover {  
  background: $secondary-color;
  color: $primary-color !important;   
}

.sub-nav li:before {
  position: absolute;
  margin-left:-2px !important;
  padding: 0.5rem 0 !important;
}

.main-nav .column{
padding:0;
}

.main-nav .sub-nav {
  border-right:1px solid $primary-color; 
  width:100%;
  float:left;
}

.main-nav .menu-1 {
width:45%;
display:inline-block;
margin:0;
padding:0;
}

.main-nav .menu-2 {
width:35%;
display:inline-block;
margin:0;
padding:0;
}

.main-nav .menu-3 {
width:20%;
display:inline-block;
margin:0;
padding:0;
}


.main-nav{

  .menu-1 li a{
padding: 0.5rem 1.123rem !important;

}

.menu-2 li a{
padding: 0.5rem 0.975rem !important;
}

.menu-3 li a{
padding: 0.5rem 1.26rem !important;
}

.menu-3 {
  border-right:none; 

  li a{
padding: 0.5rem 1.26rem !important;
}
}
}



input {
 padding: 0 0.6rem;
height: 2rem !important;
width: 98% !important; 
border: solid 1px $primary-color !important;
color: $primary-color !important;
}


.highlight {
color: $highlight-color;
}

.product-tiles > div{
margin-bottom: rem-calc(10) !important;
position:relative;
cursor: pointer;


h2{
  position:absolute;
  color: #fff;
  opacity:0;
  letter-spacing:0;
  font-weight:600;
  z-index:15;
  top:50%;
  left:10px;
  right:10px;
  text-align: center;
  transition: 0.2s ease-in-out all;

}
.overlay {
  height:100%;
  position:absolute;
  z-index:10;
  display:block;
  transition: 0.2s ease-in-out background;
  left:rem-calc(5);
  right:rem-calc(5);

}

&:hover {

  h2 {
    opacity: 1;
    top:45%;
  }

  .overlay {
    background: rgba(0,0,0,0.7);
  }
}

}

.brands {

  margin-top: rem-calc(30) !important;
}


.tabs-content {
  margin-top: rem-calc(10);  
}

.tabs-content li {
  list-style: none;
  float: left;

}

.tabs dd {
  width: 20%;
  text-align: center;
  border-bottom: solid 1px $primary-color;
  white-space: nowrap;
  a{

    transition: 0.2s ease-in-out all;
  }
  

}

.tabs .active{
border: solid 1px $primary-color;
border-bottom:#fff;

a{
padding-bottom: 0.55rem !important;
padding-top: 1.5rem !important;

}



  
}


///////////////ICONS



.fi-magnifying-glass:before {
font-family: "foundation-icons";
display: inline-block;
}

.fi-magnifying-glass:before { content: "\f16c"; }

.size-21 {
font-size: 21px;
}


