@import "foundation_and_overrides";

@media (max-width:480px) {

  .head {
    position: absolute;
    z-index: 10;
  }

  article.navIcons {
    padding: rem-calc(6);
  }

  .row .search-bar {
    input, .button {
      display: none; 
    }
  }

  .fi-arrow-left {

  }

  .logo {
    padding: rem-calc(5) !important;
  }

  .text-right {
    width: rem-calc(20);
    float: right;
  }

  .menu-icon {
    cursor: pointer;
    z-index: 20;
  }

  #menu-dropdown-nav {
    overflow: hidden;
    opacity: 0;
    width: rem-calc(1000);
    height: 0;
    box-shadow: inset 0 0 rem-calc(10) rgba(0,0,0,0.5);
    background: rgba(0,0,0,0.0302);
  }

  #menu-primary, #menu-secondary {
    float: left;
    margin: rem-calc(10);
    font-weight: bold;
  }

  #menu-primary {
    width: 100%;
  }

  #menu-secondary {
    width: 30%;
  }

  .button-primary-nav {
    position: relative;
  }

  .button-back {
    position: absolute;
    left: rem-calc(27);
    top: rem-calc(2);
    font-size: 0.9em;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  dl dd {
    border-bottom: dashed rem-calc(1) rgba(0,0,0,0.1);
    height: rem-calc(30);
  }

  .mobileBlock {
    @include block-grid(
      $per-row: 2,
      $spacing: 1em
    );
    padding-top: rem-calc(5);
  }
}