@import "foundation_and_overrides";



/////////////////////////////////TABLET SIZES

@media (min-width:641px) and (max-width:1024px) {

  .main {
margin-top:rem-calc(15);
  }

  .head{

    .search-bar{

      input{
        float:right;
      }

    }


  }

  }


  /////////////////////////////////PHONE SIZES

@media (max-width:640px) {

  .main {
margin:0;
  }

  .head {
    position: absolute;
    height: rem-calc(45);
    z-index: 10;

    div{
      position:initial;
    }

    .logo{
        max-height:rem-calc(30);
        margin-top:rem-calc(7);

      }

    p{
      position: initial;
      font-size:0;
      text-indent: -9999;
      &:after{
        content: "\f1b0"; 
        font-family: "foundation-icons";
        display:block;
        font-size: rem-calc(20);
        position: absolute;
         top: 0.46rem;
        right: 3.5rem;
      }
    }

   .search-bar{

    input[type="text"], .button {
    display:none;
   }  

    .left{
      position:initial;

    

    .fi-magnifying-glass{
      top: 0.79rem;
right: 6.2rem;
    }



  }

    
 }

  }



  

  .mobile-new-in {
    @include block-grid(
      $per-row: 2,
      $spacing: 1em
    );
    padding-top: rem-calc(5);
    li:nth-of-type(2n+1) {
      text-align: right;
    }
  }

  .mobile-footer {
    margin: 0;
    background: $secondary-color;
    width: 100%;
    height: 100%;
    top: rem-calc(-7);
  }

  @mixin button-full-width {
    @include button(
      $full-width: true
    );
  }

  @mixin custom-button {
    @include button(
      $bg: #FFF,
      $full-width: true
    );
  }

  @mixin custom-dropdown-button {
    @include dropdown-button(
      $padding: large,
      $pip-color: $primary-color,
      $base-style: true
    );
  }  

  .button {
    @include button-full-width;
    font-family: "ArialMTBlack" !important;
  }

  .custom-button {
    @include custom-button;
    border: rem-calc(1) solid $primary-color;
    padding: rem-calc(10) rem-calc(8) rem-calc(8) rem-calc(8);
    font-size: 0.7em;
    z-index: 50;
    position: absolute;
    &:hover {
      background: transparent;
    }
  }

  .custom-dropdown-button {
    @include custom-button;
    @include custom-dropdown-button;
    border: rem-calc(1) solid $primary-color;
    color: $primary-color;
    padding: rem-calc(10) rem-calc(20) rem-calc(8) rem-calc(9);
    font-size: 0.7em;
    &:hover {
      background: transparent;
    }
  }

  .custom-dropdown-button:before {
    border-width: rem-calc(4);
    right: 8%;
  }

  #drop {
    color: $primary-color;  
    li:first-child {
      padding-top: rem-calc(6);
    }
    li {
      font-size: 0.6em;
      text-align: center;
      line-height: 0.8em;
    }
    li:last-child {
      padding-bottom: rem-calc(5);
    }
    a {
      color: #000;
    }
  }

  .f-dropdown:before, .f-dropdown:after {

  }


  .custom-form {
    padding: 0;
  }

  label {
    padding-bottom: rem-calc(5);
    font-variant: small-caps;
    font-size: 0.9em;
    text-align: center; 
  }

  .bold {
    font-weight: bold;
  }

  .search-bar {
    margin-right:0;

   .small-9 {
    // width:85%;
    }
  }

  .page-title {
    padding-bottom: rem-calc(7);
    h2 {
      letter-spacing: 0.05em;
      font-family: "ArialMT" !important;
      font-size: 0.9em;
    }
  }

  .item-selections {
    width: 100%;
    padding: 0;
    margin: 0;
    div:first-child {
      padding-left: 0;
    }
  }

  .item-img-main {
    text-align: center;
  }

  .brand-logo {
    &:after {
      display: none;
    }  
  }

  .sizes {
    display: none;
  }

  .tab-refine {
    display: none;
    height:0;
    width: 100%;
    margin-bottom: rem-calc(5);
    ul {      
      font-size: 0.6em;
      margin: 0;
      li {
        display: block;
        list-style: none;
      }
    }

    .tab-refine-border {
      height: rem-calc(5);
      border-bottom: rem-calc(1) solid $primary-color;
    }

    #tab-primary, #tab-secondary {
      margin: 0;
      font-weight: bold;
      width: 100%;
    }

    #tab-secondary {
      display: none;
    }

    .tab-primary-nav, .tab-secondary-nav {
      position: relative;
      display: block;
      width: 100%;
      border-top: dashed rem-calc(1) rgba(0,0,0,0.1);
      padding:rem-calc(10) rem-calc(16) rem-calc(7);
      transition: all 0.2s ease-in-out;
      &:hover {
        background: rgba(0,0,0,0.05);
      }
    }
    .button-back {
      padding-top: rem-calc(14);
      width: 100%;
      display: block;
      color: lighten($primary-color,40%);
      letter-spacing: 0.01em;
      font-family: "ArialMTBlack";
      font-size: 1.8em;
      &:hover{
        color: $highlight-color;
      }
    }
    .button-back-border {
      height: rem-calc(36);
      border-top: rem-calc(1) solid $primary-color;
    }
  }

  .tab-social {
    @include block-grid(
      $per-row: 6,
      $spacing: 1em
    );
    padding: rem-calc(25) rem-calc(20) rem-calc(0) rem-calc(20);
    position: relative;
    text-align: center;
    font-size: 1.5em;
  }

  #button-share {
    margin: rem-calc(10) 0 0 0;
  }

  .tab-accordion h5 {
    font-size: 1em;
    letter-spacing: 0.04em;
    padding-left: rem-calc(6);
  }

  .product-description {
    letter-spacing: 0.04em;
    .product-title {
      padding-top: rem-calc(4);
      text-align: center;
    }
    .product-price {
      font-family: "ArialMTBlack";
      font-size: 0.8em;
      text-align: center;
      padding: rem-calc(5) 0;
    }
  }

  .products .product-items ul > li .item-description {
    width: 100%;
    position: relative;
    bottom: 10%;
    opacity: 1;
    z-index: 20;
    color: #000;
    font-weight: bold;
    padding: 0 rem-calc(20);

    p {
      color: #000;
    }
  }

  .complete-look, .customers-bought {
    padding-top: rem-calc(20);
  }
}



/////////////////////////////////////// PHONE AND TABLETS

@media (max-width:1024px){
.orbit-container {
  .orbit-prev, .orbit-next {
    opacity:1;
  }

  .orbit-caption {
    display: none;
  }

  &:hover {
    .orbit-prev, .orbit-next {
  opacity:1;
  }
}

}

}