@import "foundation_and_overrides";



/////////////////////////////////TABLET SIZES

@media (min-width:641px) and (max-width:1024px) {

  .main {
margin-top:rem-calc(15);
  }

  .head{

    .search-bar{

      input{
        float:right;
      }

    }


  }

  }


  /////////////////////////////////PHONE SIZES

@media (max-width:640px) {

  .main {
margin:0;
  }

  .head {
    position: absolute;
    height: rem-calc(45);
    z-index: 10;

    div{
      position:initial;
    }

    .logo{
        max-height:rem-calc(30);
        margin-top:rem-calc(7);

      }

    p{
      position: initial;
      font-size:0;
      text-indent: -9999;
      &:after{
        content: "\f1b0"; 
        font-family: "foundation-icons";
        display:block;
        font-size: rem-calc(20);
        position: absolute;
         top: 0.46rem;
        right: 3.5rem;
      }
    }

   .search-bar{

    input[type="text"], .button {
    display:none;
   }  

    .left{
      position:initial;

    

    .fi-magnifying-glass{
      top: 0.79rem;
right: 6.2rem;
    }



  }

    
 }

  }



  

  .mobile-new-in {
    @include block-grid(
      $per-row: 2,
      $spacing: 1em
    );
    padding-top: rem-calc(5);
    li:nth-of-type(2n+1) {
      text-align: right;
    }
  }

  .mobile-footer {
    margin: 0;
    background: $secondary-color;
    width: 100%;
    height: 100%;
    top: rem-calc(-7);
  }

  .nav-social {
    @include block-grid(
      $per-row: 6,
      $spacing: 1em
    );
    padding: rem-calc(25) rem-calc(20) rem-calc(0) rem-calc(20);
    position: relative;
    text-align: center;
    font-size: 1.5em;
  }

  .custom-button {
    @include button(
      $padding: rem-calc(9),
      $bg: $primary-color,
      $full-width: true
    );
  }

  .custom-button-light {
    @include button(
      $padding: rem-calc(9),
      $bg: $secondary-color,
      $full-width: true
    );
    $button-font-color: #f39;
    text-decoration: underline;
  }

  .custom-form {
    padding: 0;
  }

  label {
    padding-bottom: rem-calc(5);
    font-variant: small-caps;
    font-size: 0.9em;
    text-align: center; 
  }

  .bold {
    font-weight: bold;
  }

  .search-bar {
    margin-right:0;

   .small-9 {
    // width:85%;
    }
  }

}



/////////////////////////////////////// PHONE AND TABLETS

@media (max-width:1024px){
.orbit-container{
    .orbit-prev, .orbit-next {
  opacity:1;
}

.orbit-caption {
display: none;
}

  &:hover{
      .orbit-prev, .orbit-next {
  opacity:1;
}



  }

}

}