@import "foundation_and_overrides";

.main-nav {
 padding:0 $column-gutter/2;  
 position:relative; 
}

.sub-nav {
  border-top: 1px $primary-color solid; 
  margin: 0 !important;
  padding: 0 !important;  

}

.main-nav .sub-nav > ul {
  margin:0; 
  text-align: justify; 
  height:2rem;  
}

.sub-nav > ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

.sub-nav > ul > li {
  margin-bottom:0;
  display:inline-block;

  
}

.sub-nav li a {
    // padding: 0.5rem 1.097rem !important;
    // padding: 0.5rem $row-width/56.4 !important;
    text-align: center;
    // padding: 0.5rem 0 !important;
    display:block;
transition: 0.2s ease-in-out all;
width:100%;
position: relative;
}

.sub-nav li a.not-active {  
border-bottom: solid 1px #000;
position:relative;
transition: 0.5s all ease-in-out;

&:after{
content:"";
position:absolute;
top:-1px;
right:-1px;
left:-1px;
width:100%;
height:100%;
background: rgba(255,255,255,0.8);
z-index:200;


  }
}

.sub-nav li a.active {  
  color: $primary-color !important;  


  &:after{
content:"";
width:100%;
height:35px;
display:block;
position:absolute;
border:1px solid $primary-color;
  border-bottom: 0;
  border-top:0;

  z-index: 5000 !important;
  left:0;
  top:0;
  


  } 
  
}



.sub-nav li:before {
  position: absolute;
  margin-left:-2px !important;
  padding: 0.5rem 0 !important;
}




.main-nav{

  .column{
padding:0;
}

.sub-nav {
  border-right:1px solid $primary-color; 
  width:100%;
  float:left;
}

  .menu-1{

width:45%;
display:inline-block;
margin:0;
padding:0;

   >ul > li > a{
padding: 0.5rem 1.07rem !important;

}
}

.menu-2{

width:35%;
display:inline-block;
margin:0;
padding:0;

   >ul > li > a{
padding: 0.5rem 0.925rem !important;
}
}

.menu-3{
width:20%;
display:inline-block;
margin:0;
padding:0;
border-right:none; 

  >ul > li > a{
padding: 0.5rem 1.22rem !important;
}
}


}

.meganav{
position:absolute;
z-index:100;
left:0 !important;
top:35px;
background: #fff;
display:none;
width:100% !important;

padding:0 0 0 rem-calc(30) !important;
 >div{
  border:solid 1px $primary-color;
  border-top: 0;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
  min-height:rem-calc(200);
  width:100%;
  background: #FFF;

  padding: 0 rem-calc(10) rem-calc(30) !important;

  h6{
    letter-spacing: 0;
    padding-left:rem-calc(20);
    margin:rem-calc(15) 0 rem-calc(10);
    font-weight:bold;


  }

  li{

    display:block;
    float: none;
    
    margin: 0;

    &:before{
  content:"";
  display:none;
}

    a {

text-transform:none;
letter-spacing: 0;
padding:0 !important;
line-height:1.7;
text-align: left;
transition: 0.2s ease-in-out all;

&:hover{
  color: $highlight-color;

}




  }

 }

}



}

.meganav.open{
   display:block;
}


///////////////////////////////////////////// MOBILE NAV

#menu-dropdown-nav {

  margin-bottom:rem-calc(5);
  overflow: hidden;
  height:rem-calc(35);
  position:relative;

      

  .tab-bar{
    display: block;
    
    height: rem-calc(35);
    // box-shadow: inset 0 0 rem-calc(10) rgba(0,0,0,0.5);
    background: $primary-color;
    
    .menu-icon{
      cursor: pointer;
      z-index: 20;
      position:relative;
      width: rem-calc(104);
      font-size: rem-calc(12);
      padding-top: rem-calc(3);
      font-family: "ArialMT";
      letter-spacing: 0;


      &:before{
        content:"\f169";
        position: absolute;
        right: rem-calc(10);
        top: rem-calc(2);
        font-family: "foundation-icons";
        display: block;
        color: $highlight-color;
        font-weight:normal;
        font-size: rem-calc(25);
      }
      
      &:hover{
        &:before{
      color:#fff;
      }
      }
    }
  }

  @mixin button-nav {
    position: relative;
    display: block;
    width: 100%;
    padding:rem-calc(10) rem-calc(10) rem-calc(7);
    transition: all 0.2s ease-in-out;
  }

  @mixin pseudo-nav {
    &:after {
      content:"\f198";
      position: absolute;
      right: 0.8rem;
      top: 0.47rem;
      font-family: "foundation-icons";
      display: block;
      color: lighten($primary-color,50%);
      font-weight:normal;
      font-size: rem-calc(14);
      transition: all 0.2s ease-in-out; 
    }
    &:hover {
      background: rgba(0,0,0,0.05);
      &:after {
        right: rem-calc(7);
      }
    }
  }

  .menus{
    // box-shadow:inset 0 2px 5px rgba(0,0,0,0.2);
    // background: rgba(0,0,0,0.05);
    overflow:hidden;
    width:100%;
      
  .menu-dropdown-border {
    border-bottom: rem-calc(1) solid $primary-color;
  } 

   #menu-primary, #menu-secondary {
    margin: 0;
    font-weight: bold;
    display:none;
    width:100%;
    list-style-type:none;

  .button-nav {
    @include button-nav;
    background: rgba(0,0,0,0.05);
    border-top: dashed rem-calc(1) rgba(0,0,0,0.2);
    &:hover {
      background: rgba(0,0,0,0.15)
    }
  }

  .button-sale-nav {
    @include button-nav;
    @include pseudo-nav;
    color: $highlight-color;
    font-family: "ArialMTBlack";
    &:hover {
      background: lighten($highlight-color, 30%);
      color: lighten($primary-color,50%);
    }
  }

  .button-nav-border-division {
    @include button-nav;
    border-bottom: dashed rem-calc(1) rgba(0,0,0,0.2);
    @include pseudo-nav;
  }

  .button-primary-nav, .button-secondary-nav {
    @include button-nav;
    border-bottom: dashed rem-calc(1) rgba(0,0,0,0.1);
    @include pseudo-nav;
  }

.button-back{
  padding:rem-calc(10) rem-calc(10) rem-calc(7);
  width: 100%;
  background: $highlight-color;
  display: block;
  text-align: center;
  color: #fff;
  font-family: "ArialMt";
  &:hover{
    background: lighten($highlight-color,5%);
  }
}

}


#menu-secondary li:last-child{
  margin-top:rem-calc(2);
 }
}

  }

  @media (max-width:640px) {

    #menu-dropdown-nav {
      margin:0;
      padding:0;
      height:rem-calc(45);

      .column{
        padding:0;
      }

      .tab-bar{
        background: #FFF;
        height:rem-calc(45);

        .menu-icon{

          

      &:before{
      color: $primary-color;
      top: .4rem;
      right: 1rem;
      
    }
      
      &:hover{
        &:before{
      color: lighten($primary-color,10%);
      }
      }
    }

      }

      .menus{
        border-top: 1px solid rgba(0,0,0,0.1);
      }
      
    }

    .products .product-sort a {
      text-decoration: none;
      letter-spacing: 0.15em;
    }
    


  }
